# Created by .ignore support plugin (hsz.mobi)
*.gradle/
gradle.properties
build/
build-res/
/*/build/
*.iml
*.idea/
*.DS_Store
/ios/RCTMIPushModule/RCTMIPushModule.xcodeproj/xcuserdata/
/ios/RCTMIPushModule/RCTMIPushModule.xcodeproj/project.xcworkspace/xcuserdata/
node_modules/
